name: Docker Build -> Push -> Deploy
run-name: Build & Deploy API Tester


on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Build Jar
        run: ./mvnw clean package -DskipTests

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/api-tester:latest .

      - name: Push Image to Docker Hub
        if: github.event_name == 'push'
        run: docker push ${{ secrets.DOCKER_USERNAME }}/api-tester:latest
